<html>
    <body>
        <p>Index en desarrollo</p>
        <br>
        <div>
            <p><a class="" href="{% url 'logout' %}">Cerrar session</a></p>
        </div>
        <div class="">
            <div>
                <a class="" href="{% url 'Cantidad_de_mesas' %}"><img src="" alt="Mesa🍽"></a>
            </div>
            <div>
                <a class="" href="{% url 'Cantidad_de_mesas' %}"><img src="" alt="A domicilio🛵"></a>
            </div>
            <div>
                <a class="" href="{% url 'Cantidad_de_mesas' %}"><img src="" alt="Lo espera"></a>
            </div>
            <div>
                <a class="" href="{% url 'Cantidad_de_mesas' %}"><img src="" alt="Pasa buscando"></a>
            </div>
        </div>
        <br>
        <a href="{% url 'ingresar_mesas'%}">Ingresar nueva mesa</a>
        
    </body>
</html>